<audio class="audio1" src="https://s3.amazonaws.com/freecodecamp/simonSound1.mp3"></audio>
<audio class="audio2" src="https://s3.amazonaws.com/freecodecamp/simonSound2.mp3"></audio>
<audio class="audio3" src="https://s3.amazonaws.com/freecodecamp/simonSound3.mp3"></audio>
<audio class="audio4" src="https://s3.amazonaws.com/freecodecamp/simonSound4.mp3"></audio>
<audio class="audio5" src="http://www.freesound.org/data/previews/331/331912_3248244-lq.mp3"></audio>

<div class="gameshapecontainer is-flex" ng-show="signedIn">
  <div class="gameshape">
    <div data-id="1" class="slice topleft" id=""></div>
    <div data-id="2" class="slice topright" id=""></div>
    <div data-id="3" class="slice bottomleft" id=""></div>
    <div data-id="4" class="slice bottomright" id=""></div>
    <div class="centershape is-flex between" ng-show="betweenRounds">
      <span class="round">{{lose}}</span>
      <button class="reset-game" ng-click="resetRound()">{{next}}</button>
    </div>
    <div class="centershape is-flex" ng-hide="betweenRounds">
      <span class="round">round: {{round}}</span>
      <div class="gameBtn-container is-flex">

        <button class="start-game" ng-click="start()">start</button>
        <button class="reset-game" ng-click="resetRound()">reset</button>
      </div>
      <span class="round">{{status}}</span>
    </div>
  </div>
</div>
