.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1%;
    border-top: 8px solid black;
    border-bottom: 8px solid black;

    header {
        font-family: $headerFont;
        font-size: 4rem;
    }

    ul {
        font-family: $primaryFont;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 40%;
        font-size: 2.5rem;

        li {
          align-content: center;
          border-radius: 1rem;
          // border: 1px solid black;
          padding: 3%;
          &:hover {
            color: white;
            cursor: pointer;
          }
        }

    }
}
.game {
  &:hover {
    background: #ed615c;
  }
}
.home {
  &:hover {
    background: #5dc8ef;
  }
}
.leaderboard {
  &:hover {
    background: #edc65c;
  }
}
