.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1%;
    border-top: 8px solid black;
    border-bottom: 8px solid black;

    header {
        font-family: $headerFont;
        font-size: 4rem;

        &:hover {
            cursor: pointer;
        }
    }

    ul {
        font-family: $primaryFont;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 40%;
        font-size: 2.5rem;

        li {
            align-content: center;
            border-radius: 1rem;
            padding: 1rem;

            &:hover {
                color: white;
                cursor: pointer;
            }
        }
    }
}

.fat-header {
    text-align: center;
    font-size: 9rem;
}

.g-active {
    background: #ed615c;
    color: white;
}

.h-active {
    background: #5dc8ef;
    color: white;
}

.l-active {
    background: #edc65c;
    color: white;
}

.game {
    &:hover {
        background: #ed615c;
    }
}

.home {
    &:hover {
        background: #5dc8ef;
    }
}

.leaderboard {
    &:hover {
        background: #edc65c;
    }
}

.profile-user-left {
    width: 7rem;
    font-family: $primaryFont;
    padding: 0.5%;
}

.is-hidden {
    display: none;
}
