.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1%;
    border-top: 8px solid black;
    border-bottom: 8px solid black;

    header {
        font-family: $headerFont;
        font-size: 4rem;
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 40%;
        font-size: 1.5rem;

        li {
            padding: 3%;
        }

        :hover {
            background: black;
            color: white;
            border-radius: 1rem;
        }
    }
}
