.main-form-container {
  align-items: center;
  flex-direction: column;
  padding: 10px;
  text-align: center;
  border: 1px solid black;
  border-radius: 1rem;
  margin: 10px auto;
  width: 300px;
  box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.4);

  img {
    width: 60%;
    text-align: center;
    margin: 5px;
  }

  input {
    height: 20px;
    width: 235px;
    // font-family: 'Sirin Stencil', cursive;
    text-align: center;
    border-radius: 5px;
  }
  button {
    margin-top: 7px;
  }
}

h1 {
  font-family: 'Monofett', cursive;
  color: black;
  text-align: center;
  font-size: 2rem;
}

h2 {
  font-family: 'Sirin Stencil', cursive;
  font-size: 1rem;
}
.is-flex {
  display: flex;
}
