.user-profile {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 5px solid black;
    border-radius: 1rem;
    width: 70%;
    margin: 3% auto;

    .label {
        font-family: $headerFont;
        font-size: 3rem;
    }

    .usercontainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin: 2%;

        .user-name {
            font-family: $primaryFont;
            font-size: 3rem;
        }
    }

    .about-container {
        display: flex;
        flex-direction: column;
        margin: 0 3% 3%;
    }
}

.userinfocontainer {
    justify-content: center;
    flex-direction: column;
}

.user-image {
    width: 15rem;
    height: 15rem;
}

.rank {
    font-family: $primaryFont;
    font-size: 2rem;
    padding-left: 3%;
    padding-right: 3%;
    line-height: 1rem;
    border-radius: 1rem;
}

.score {
    font-family: $primaryFont;
    font-size: 2rem;
    padding-left: 3%;
    padding-right: 3%;
    line-height: 1rem;
    border-radius: 1rem;
}

.textarea-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}

textarea {
    width: 80%;
    height: 7rem;
}

button {
    width: 50%;
}

.bio-body {
    font-family: $primaryFont;
    font-size: 1rem;
}
