<div class="navbar">
    <header>simon</header>

    <ul>
        <li class="home">Home</li>
        <li class="game">Game</li>
        <li class="leaderboard">Leaderboard</li>
    </ul>
</div>

<ui-view></ui-view>
