<div class="navbar">
    <header>simon</header>

    <ul>
        <li class="home" ui-sref-active="home--active" ui-sref="ParentState.profile">Home</li>
        <li class="game" ui-sref-active="game--active" ui-sref="ParentState.game">Game</li>
        <li class="leaderboard" ui-sref-active="leaderboard--active" ui-sref="ParentState.leaderboard">Leaderboard</li>
    </ul>
</div>

<ui-view></ui-view>
