<div class="navbar">
    <header ui-sref="ParentState.profile">simon</header>

    <ul>
        <li class="home" ui-sref-active="h-active" ui-sref="ParentState.profile">Home</li>
        <li class="game" ui-sref-active="g-active" ui-sref="ParentState.game">Game</li>
        <li class="leaderboard" ui-sref-active="l-active" ui-sref="ParentState.leaderboard">Leaderboard</li>
    </ul>
</div>
<div>
  <% if current_user %>
    Signed in as <strong><%= current_user.name %></strong>!
    <%= link_to "Sign out", signout_path, id: "sign_out" %>
  <% else %>
    <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
  <% end %>
</div>
<ui-view></ui-view>
