<div class="navbar">
    <header ui-sref="ParentState.profile">simon</header>

    <ul>
        <li class="home" ui-sref-active="h-active" ui-sref="ParentState.profile">Home</li>
        <li class="game" ui-sref-active="g-active" ui-sref="ParentState.game">Game</li>
        <li class="leaderboard" ui-sref-active="l-active" ui-sref="ParentState.leaderboard">Leaderboard</li>
    </ul>
</div>

<ui-view></ui-view>
