<div class="gameshapecontainer" ng-show="signedIn" ng>
    <div class="gameshape">
        <div data-id="0" id="topleft"></div>
        <div data-id="1" id="topright"></div>
        <div data-id="2" id="bottomleft"></div>
        <div data-id="3" id="bottomright"></div>

        <div class="centershape">
            <button ng-click="showtimer=true" ng-hide="showtimer" class="start-game">start</button>
            <!-- <span class="timer" ng-show="showtimer"></span> -->
        </div>
    </div>
</div>
