<div class="user-profile">
    <div class="usercontainer">
        <span class="user-name">spookylad</span>
        <span class="label">rank<span>
           <span class="rank">liquidsnake</span>
    </div>
    <div class="infocontainer">

        <div class="about-container">
            <div clas="score-container">
                <span class="label">total points </span>
                <span class="score">2,010pts</span>
            </div>
            <span class="label">about /user/</span>
            <span class="bio">I come from the mesosphere. It's colder there, my bed is a cloud and my overhead light is the sun.</span>

        </div>
    </div>
</div>
