<!DOCTYPE html>
<html ng-app="Simon">
  <head>
    <title>Simon</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- <base href="/"> -->
  </head>

  <body>
    <%= yield %>
  </body>
</html>
