<!DOCTYPE html>
<html ng-app="Simon">
  <head>
    <title>Simon</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<<<<<<< HEAD
    <base href="/">
=======
    <!-- <base href="/"> -->
>>>>>>> 10b6c264473a091631f7d510f05404b91f9eb9e3
  </head>

  <body>
    <%= yield %>
  </body>
</html>
